@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: myFirstFont;
    src: url(Fonts/MYRIADPROREGULAR.woff);
}
body{
	font-family: 'myFirstFont' !important;
font-weight: bold;
}
.footer{background-color: white;height:513px;width:1067px;}
.footer-1 h1{font-family: myFirstFont !important;font-weight: bold;}
div.contents {

	text-align: center;
	height: 818px;	
	

}

.footer-2{padding-top: 28px;}
table.contents {
	
	/*padding: 50px 100px;*/
	
}
.contents tr td{padding:25px;}


#output tr td{width: 350px;text-align: left; font-family: myFirstFont !important;font-weight: bold;}

#changeText1{
	margin: 30px, 0
text-align: center;
vertical-align: middle;
    line-height: 28px;
    margin-left: -13px;
	    font-size: 25px;
    font-family: calibri;
    font-weight: 900;
	padding-top: 110px;
	padding-bottom:50px;
display: inline-block;
  transform: scale(3.3, 3.7);
  -webkit-transform: scale(3.3, 3.7); /* Safari and Chrome */
  -moz-transform: scale(3.3, 3.7); /* Firefox */
  -ms-transform: scale(3.3, 3.7); /* IE 9+ */
  -o-transform: scale(3.3, 3.7); /* Opera */
	
}
#changeText2{
	margin:30px, 0
text-align: center;
vertical-align: middle;
    line-height: 28px;
    margin-left: -13px;
	    font-size: 25px;
    font-family: calibri;
	font-weight: 900;
	padding-top: 120px;
  padding-bottom:50px;
display: inline-block;
  transform: scale(3.3, 3.7);
  -webkit-transform: scale(3.3, 3.7); /* Safari and Chrome */
  -moz-transform: scale(3.3, 3.7); /* Firefox */
  -ms-transform: scale(3.3, 3.7); /* IE 9+ */
  -o-transform: scale(3.3, 3.7); /* Opera */
	
}
.n{
	padding:2px;
}