@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: myFirstFont;
    src: url(Fonts/MYRIADPROREGULAR.woff);
}
body{
	font-family: 'myFirstFont' !important;
font-weight: bold;
}
.footer{background-color: white;height:513px;width:1067px;}
.footer-1 h1{font-family: myFirstFont !important;font-weight: bold;}
div.contents {

	text-align: center;
	height: 818px;	
	

}

.footer-2{padding-top: 28px;}
table.contents {
	
	/*padding: 50px 100px;*/
	
}
.contents tr td{padding:25px;}


#output tr td{width: 350px;text-align: left; font-family: myFirstFont !important;font-weight: bold;}

.changeText{
text-align: center;
vertical-align: middle;
    line-height: 365px;
    margin-left: -13px;
	    font-size: 45px;
    font-family: calibri;
	margin-left: 4px;
	margin-right:30px;
	word-break: break-all;
	
}
.changeText2{
text-align: center;
vertical-align: middle;
    line-height: 502px;
    margin-left: -13px;
	    font-size: 55px;
    font-family: calibri;
	margin-left: 45px;
	margin-right:30px;
	word-break: break-all;
	
}

