  html{
        position: relative;
        min-height: 83.8%;
      }
      body{
        margin: 0 0 100px;
        line-height: 0.428571;
      }
      footer{
       /* position:absolute;*/
        left:0;
        bottom:0;
        height:90px;
        width:100%;
      }
    .container{
          padding-top: 133px;
          padding-bottom: 10px;
          width: 1011px;
          margin-left: 17px;
    }
    .row{
      padding-top:0px;
      padding-bottom:32px;
      margin-left: 47px;
    }
   
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 70%;
        margin: auto;
    }
    .carousel img {
          width:100% !important;
          min-width:100 !important;
          height: auto;
      }
      .fixed-height{
        max-height: 400px;
      }
      .jumbotron{
        color:#5c5c5c;
            background-color: #ffffff;
            line-height: 18px;
            padding-top: 75px;
         padding-bottom: 112px;
      }
      .jumbotron p {
          margin-bottom: 15px;
          font-size: 36px;
          font-weight: 700;
          font-family: calibri;
          color: darkslategray;
      }
      .img-responsive{
        position: relative;
        z-index: 99;
        margin-top:-60px;
        margin-left: 44px;
            height: 117px;
      }
      .img-logo{
        position: relative;
        z-index: 99;
        margin-top: -60px;
        margin-left: 44px;
        margin-right: 73px;
        height: 109px;
      }

      .navigate{
        font-size: 25px;
      }
      .navbar{
        margin-top:-30px;
            margin-bottom: 0px;
      }
      .navbar .navbar-nav {
        display: inline-block;
        float: right;
    }
      .navbar .navbar1 {
        text-align: center;
        font-size:10px;
    }
    .navbar-default {
      background-color:#1062c8;
       border-color: #1062c8 ; 
    }

    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
        color: #333;
        background-color: #f4c308;
    }
    .navbar-default .navbar-nav>li>a {
        color: white;
    }
    .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
        background-color: #104E8B;
        border-color: #337ab7;
    }
      span{
        width:82px;
      }

     .btn-warning1.btn-warning1:not( :hover )
      {
          color: #fff;
          background-color:#B23AEE;
          border-color:#9932CD ;
      }

   .btn-warning1:hover{
      color: #fff;
      background-color:#9932CC;
    }
    .icon1{
      padding-top: 40px;
      padding-bottom: 40px;
      line-height: 25px;
          margin-bottom: -4.6px;
    }
    .bmg
    {
        background-image: url('../images/bg_img1.jpg');
        background-color: white;
          background-repeat: no-repeat;
          background-size:175%;
              height: 1211px;
    }
    span.glyphicon {
        font-size: 1.5em;
    }
    .glyphicon{
      line-height: 1.3;
      width: 134px;
      height: 23px;
      display: inline;
    }
    .txt{

          font-size: 18px;
        font-family: calibri;

    display: inline-block;
      transform: scale(2.5, 2.5);
      -webkit-transform: scale(2.5, 2.5); /* Safari and Chrome */
      -moz-transform: scale(2.5, 2.5); /* Firefox */
      -ms-transform: scale(2.5, 2.5); /* IE 9+ */
      -o-transform: scale(2.5, 2.5); /* Opera */
  
    }
    .flag{
      height:37px;
      width:37px;
    }
    .btn-group-lg>.btn, .btn-lg {
        padding: 35px 54px;
        line-height: 0.83;
        height: 236px;
    }
    .alert {
        text-align: center;
        font-size: 53px;
        font-family: Gyparody;
        padding: 35px;
        width: 920px;
        margin-left: 16px;
        margin-bottom: 0px;
        font-stretch: ultra-expanded;
        cursor: pointer; cursor: hand;
    }

    .nav>li>a {
            padding: 16px 15px;
        font-size: 17px;
         font-family: arial;
    }

    /*.header-txt, .header-right{
      font-size:30px;
      display: inline-block;
          transform: scale(1.1, 1.1);
          -webkit-transform: scale(1.1, 1.1);  Safari and Chrome 
          -moz-transform: scale(1.1, 1.1); /* Firefox 
          -ms-transform: scale(1.1, 1.1); /* IE 9+ 
          -o-transform: scale(1.1, 1.1); /* Opera */
    /*}*//***//*/*/
   
  
    .explore{
       font-size: 32px;
    font-family: calibri;
    padding-top: 20px;
    background-color: #f8f8f8;
    color: darkgrey;
    text-align: center;
    padding-bottom:14px;
    }

    #content_term{
          margin-left: -183px;
          padding-top: 11px;
    }
    #content_air{
      margin-right:106px;
    }
    #HF{
          height: 346px;
           width: 249px;
    }

    .alert-success {
        color: white;
        background-color: #dff0d8;
        border-color: #666666;
    }

    .dropdown-menu {
         right: 0;left:unset;
         min-width: 80px;

    }
    .icon-img{
      height: 200px;
      width:209px;
      padding-left:20px;
      padding-top:50px;
      background: transparent;
      background-color:black;
      color: #fff;
      opacity: 0.5;
      border: 3px solid black;
    }
     .icon-title{
            font-family: Calibri;
            font-size: 40px;
            color: white;
            font-style: bold;
            padding-left: 0px;
            padding-top: 25px;
            text-align: center;
            font-weight: 200;
    }
    .icon-rtitle{
            font-family: Calibri;
            font-size: 40px;
            color: white;
            font-style: bold;
            padding-left: 0px;
            padding-top: 17px;
            text-align: center;
            font-weight: 200;
    }

    .parent{
         width: 290px;
         height: 305px;
         line-height: 33px;
   }
 
   
    .child{
        position: relative;
        padding-right: 20px;
        padding-top: 20px;
        padding-left: 20px;
        width: 288px;
        height: 195px;
    }
    .img-child{
              position: relative;
              padding-right: 21px;
              padding-top: 20px;
              padding-left: 45px;
              width: 262px;
              height: 222px;
    }
    .navbar .vdivider {
      height: 86px;
      margin: 0 13px -1px -12px;
      border-left: 1px solid #6CA6CD;
      /*border-right: 1px solid #ffffff;*/
      }

/*      a:hover {
         color: red; 
         text-decoration: none; 
      }*/

      .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
             /* color: white; */
             background-color: #ffffff;
      }
      .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {   
        background-color: darkgrey;
      }
      #date_time{font-size: 40px;}